@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    user-select: none;
    outline: 0;
}

body {
    position: relative;

    #app {
        position: relative;
        z-index: 10000;
    }
}
