@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  user-select: none;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
