httpTimeout 600000
network-timeout 600000
--add.ignore-workspace-root-check true
--add.ignore-engines true
--add.prefer-offline true
--upgrade.ignore-workspace-root-check true
--upgrade.ignore-engines true
--upgrade.prefer-offline true
--install.ignore-workspace-root-check true
--install.ignore-engines true
--install.prefer-offline true
