name: Prettier

on:
  pull_request:
  push:
    branches:
      - "**"
      - "!main"
      - "!pre/rc"
      - "!beta"
      - "!alpha"

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          persist-credentials: false

      - name: Prettify code
        uses: creyD/prettier_action@v4.1.1
        with:
          prettier_options: --write **/*.{js,jsx,ts,tsx,vue,html,css,scss,md,json,yml} --config .prettier.json
          commit_message: "style: prettier formatting"
          only_changed: true
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
